<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta description="">
    <meta keywords="">
    <title>ANGULARJS</title>
</head>

<body>
    <div >
<!--        ng-app="" ng-init="quantity=1;cost=30 ; student= {Fname:'Manish',lname:'Kumar',Rollno:101}; marks=[89,90,99,100]"-->
<!--
        <input type="text" ng-model="name">
        Hello!<span ng-bind="name"></span>
        <p>Hello {{student.Fname+ " " +student.lname}}</p>
        <p>Expense on Books : {{cost * quantity}} Rs</p>
        <p>Roll No: {{student.Rollno}}</p>
        <p>Marks(Math): {{marks[3]}}</p>
        
        <ol>
            <li ng-repeat="Country in countries">
                {{'Country: ' + country.name + ', Locale: ' + country.locale }}
            </li>
        </ol>
-->

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

</body>

</html>
